# tasks/main.yml
- name: Install Docker
  apt:
    name:
      - docker.io
    state: present
    update_cache: yes

- name: Enable and start Docker
  systemd:
    name: docker
    enabled: yes
    state: started

- name: Check Docker info
  command: docker info
  register: docker_info
  changed_when: false

