# tasks/main.yml
- name: Install Certbot and nginx plugin
  apt:
    name:
      - certbot
      - python3-certbot-nginx
    state: present
    update_cache: yes

# ...далее: получение сертификата, renew cron...

