name: Deploy
on:
  workflow_dispatch:
  push:
    branches: [main]
jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Set up SSH
        uses: webfactory/ssh-agent@v0.9.0
        with:
          ssh-private-key: ${{ secrets.SSH_PRIVATE_KEY }}
          # Если ваш SSH-ключ защищён паролем, добавьте следующую строку:
          ssh-passphrase: ${{ secrets.SSH_KEY_PASSPHRASE }}
      - name: Install Ansible
        run: sudo apt-get update && sudo apt-get install -y ansible
      - name: Run Ansible Playbook
        run: ansible-playbook infra/ansible/playbooks/site.yml -i infra/ansible/inventories/production/hosts.ini

# ВАЖНО: используйте актуальный IP и пользователя root для подключения
# [panel]
# arcdraco-main ansible_host=157.180.79.174 ansible_user=root
