name: Deploy
on:
  workflow_dispatch:
  push:
    branches: [main]
jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Copy project files to server
        uses: appleboy/scp-action@v0.1.7
        with:
          host: ${{ secrets.SERVER_HOST }}
          username: root
          key: ${{ secrets.SSH_PRIVATE_KEY }}
          passphrase: ${{ secrets.SSH_KEY_PASSPHRASE }}
          source: .
          target: /root/arcdraco-iaac
          overwrite: true
      - name: Run ansible-playbook on server
        uses: appleboy/ssh-action@v1.0.3
        with:
          host: ${{ secrets.SERVER_HOST }}
          username: root
          key: ${{ secrets.SSH_PRIVATE_KEY }}
          passphrase: ${{ secrets.SSH_KEY_PASSPHRASE }}
          script: |
            cd /root/arcdraco-iaac/infra/ansible
            ansible-playbook playbooks/site.yml -i /root/arcdraco-iaac/infra/ansible/inventories/production/hosts.ini

# ВАЖНО: используйте актуальный IP и пользователя root для подключения
# [panel]
# arcdraco-main ansible_host=157.180.79.174 ansible_user=root
